:root {
  --main-color: #53a635;

  --main-text-color: #1e1b18;
  --secondary-text-color: #6b6661;

  --bg-gray-color: #faf8f5;
  --white: #fff;

  --border-color: #efece6;
  --main-light-color: #eef8ea;

  --shadow-color: rgba(83, 166, 53, 0.12);
}

body {
  margin: 0;
  font-family: var(--font-bricolage), sans-serif;
}
