.wrapper {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  min-height: 42px;
  padding: 12px 16px;
  gap: 12px;

  color: var(--secondary-text-color);
  background: var(--bg-gray-color);
  border-radius: 12px;
}

.wrapper:focus-within {
  outline: 2px solid var(--main-color);
  outline-offset: 2px;
}

.input {
  width: 100%;
  min-width: 0;
  padding: 0;

  color: var(--main-text-color);
  background: transparent;
  border: 0;
  outline: none;

  font-family: var(--font-figtree), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.input::placeholder {
  color: var(--secondary-text-color);
  opacity: 1;
}

.input::-webkit-search-cancel-button {
  display: none;
}
