.buildList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  margin: 0 48px 48px;
  gap: 20px;
}

@media (max-width: 700px) {
  .buildList {
    margin: 0 16px 32px;
  }
}